.annotation {
    transition: all 125ms ease-in-out;
}

.annotation:hover {
    background: #eaeaea;
    cursor: pointer;
}

.active:first(td) {
    /* border: 1px solid #555; */
    font-weight: bold;
}